.card__subtitle {
    grid-area: subtitle;
    align-self: flex-end;
    margin: 0;
}

@media screen and (max-width: 767px) {
  .card__subtitle {
    align-self: flex-start;
    margin-left: 16px;
    max-width: 90%;
  }
}