.address__button {
    background-color: #0278FE;
    color: #fff;
    width: 137px;
    grid-area: button;
    border: none;
    transition: background-color 0.5s;
    border-radius: 4px;
    padding: 0;
    z-index: 1;
    padding: 13px 20px;
    cursor: pointer;
    text-decoration: none;
}

.address__button:hover {
    background-color: #0063D2;
}