.page {
  background-color: #2A2C2F;
  width: 100%;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 18px;
  padding-top: 34px;
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 20px;
  }
}