.heading__image {
  width: 77vw;
  margin-top: 64px;
}

@media screen and (max-width: 1279px){
  .heading__image {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .heading__image {
    margin-top: 36px;
  }
}

@media  screen and (max-width: 767px) {
  .heading__image {
    margin-top: 40px;
  }
}