.address {
  background: url(../../images/visit_us_bg.jpg);
  background-size: cover;
  position: relative;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  text-align: center;
}

.address::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(42,44,47,0.3);
  transition: background-color, 0.5s linear;
}

.address:hover::before {
  background-color: rgb(42,44,47,0.8);
}

@media screen and (max-width: 1279px) {
  .address {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .address {
    min-height: 254px;
    row-gap: 16px;
  }
}

