.card__button {
  width: max-content;
  height: max-content;
  grid-area: button;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .card__button {
    margin: auto;
    width: calc(100% - 72px);
  }
}