.card__text {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  grid-area: text;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .card__text {
    margin: 0 auto;
    font-size: 16px;
    padding: 0 16px 0;
    max-width: 100%;
  }
}