.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 460px auto;
    grid-template-areas: 
    "title subtitle"
    "image text"
    "button text";
    column-gap: 40px;
    row-gap: 48px;
}