.intro__title {
    font-size: 54px;
    line-height: 1.1;
    font-weight: 900;
    max-width: 70%;
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .intro__title {
    max-width: 95%;
  }
}

@media screen  and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    max-width: 100%;
  }
}
